{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Recent Posts</h2>

    {% if posts %}
        <div class="row">
            {% for post in posts %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                        {% else %}
                            <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="Default Image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.content|truncatewords:20 }}</p>
                            <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary btn-sm">Read More</a>
                        </div>
                        <div class="card-footer text-muted">
                            By {{ post.author.username }} | {{ post.created_at|date:"M d, Y" }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No posts found.</p>
    {% endif %}
</div>
{% endblock %}
